@import "tailwindcss";

@theme {
  /* Couleurs de base inspirées de l'image */
  --color-primary: rgb(251, 253, 240);
  --color-accent: rgb(220, 0, 17); /* rouge accent (text/button) */

  /* Typographie */
  --font-champ: "Champ";
}

/* === Base minimal reset === */
html,
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  background-color: #fff;
  color: #000;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
